{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="cotent">
    <h1 style="text-align: center;">Task Master</h1>
    {% if tasks|length < 1 %}
    <h2 style="text-align: center;">Enter news article </h2>
    {% else %}
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Action</th> 
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
        
    </table>
    {% endif %}
    <!-- Latest compiled and minified CSS -->

<div>
    <br>
</div>
<div class="form" style="text-align: center;">
    <form action="/" method="POST">
        
        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label><br>
            <br>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="content"  rows="3" style="height: 300px;width: 600px;" ></textarea>
        </div>
        <button class="button button2" type="submit" value="Add Task" >Submit Task</button>
    </form>
</div>
    
</div>
{% endblock %}
